*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}

#backpage {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    background-color: #00324D;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#backImg {
    width: 20px;
    height: 20px;
}


#infoAdminEditInstructor{
    background-color: #F2F2F2;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 1100px;
}


#infoAdminEditInstructor h1 {
    font-size: 2rem;
    color: #00324D;
    margin-bottom: 2rem;
}


#infoContentInstructorEdit{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.columna {
    flex: 1 1 400px;
}


.formLabel {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #374151;
    gap: 0.5rem;
}

.formLabel label {
    font-size: 16px;
    font-weight: bold;
}

.form_icon {
    width: 25px;
    height: 25px;
}

.columna input,
.columna select {
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    background-color: #fff;
    margin-bottom: 1.5rem;
    transition: border-color 0.3s ease;
}

.columna input:focus,
.columna select:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}


#Confirm_button {
    margin-top: 35px;
    font-size: 1rem;
    background-color: #00324D;
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Confirm_button:hover {
    background-color: #39A900;
}

@media (max-width: 768px) {
    #infoAdmin,
    #infoContent,
    #infoContentInstructorEdit,
    #infoContentInstructor {
        flex-direction: column;
        gap: 1rem;
    }

    #Confirm_button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
