*{
    font-family: Ruda;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logos {
    width: 20px;
    height: 20px;
}
#footer {
    position: absolute;
    background-color: #39A900;
    width: 100%;
    padding: 10px 3%;
    display: flex;
    bottom: 0;
    align-items: center;
    gap: 34.3%;
}


#ContentRights{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#ContentRights p{
    color: white;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconos-footer {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    gap: 20px;
}