*{
    font-family: Ruda;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logos {
    width: 20px;
    height: 20px;
}

#footer {
    text-align: center;
    justify-content: center;
    position: absolute;
    background-color: #39A900;
    width: 100%;
    height: 50px;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    bottom: 0;
}

#iconos-footer {
    width: 46%;
    justify-content: left;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    gap: 20px;
}

#contentRights{
    width: 54%;
    align-items: center;
    text-align: center;
    justify-content: left;
    display: flex;
}

#contentRights p{
    color: white;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}