body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
}

h1 {
    margin-top: 5%;
    position: relative;
    top: 10%;

}
img{
    margin-top: 5%;
    border-radius: 10px;
}

.IS {
    /* all: unset; */
    margin-top: 2%;
    display: inline-block;
    background-color: #00324D;
    width: 200px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    box-sizing: border-box;
}
