* {
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
    padding-bottom: 120px; /* Para que el footer fijo no tape contenido */
}

#principal-content{
    margin-top: 8%;
}

/* ========= BOTÓN DE INICIAR SESIÓN ========= */
.IS {
    margin-top: 30px;
    background-color: #00324D;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.IS:hover {
    background-color: #39A900;
}


/* ========= RESPONSIVE ========= */
@media (max-width: 768px) {
    #header {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #links-header {
        display: none;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 250px;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu.open {
        max-height: 500px;
    }

    .menu ul {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .menu li a {
        padding: 15px 20px;
        width: 100%;
    }
}