* {
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
    padding-bottom: 120px;
}


/* TABLA */

.ficha-container {
  margin-top: 5%; /* o el valor que prefieras */
  background: #fff;
  border: 4px solid transparent;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 7%;
  margin-right: 7%;
}


.ficha-titulo {
  text-align: center;
  background: #00324D;
  color: white;
  padding: 10px;
  margin: -20px -20px 20px;
  font-size: 24px;
  border-radius: 5px;
}

.ficha-selectores {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.ficha-selectores select {
  padding: 5px 10px;
  font-size: 16px;
}

.subtitulo {
  text-align: center;
  margin-bottom: 10px;
}

.tabla-scroll {
  overflow-x: auto;
  margin-bottom: 20px;
}

.tabla-ficha {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
  
}

.tabla-ficha th{
  border-left: none;
  border-right: none;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}
.tabla-ficha td {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: none;
  border-right: none;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.tabla-ficha th {
  background: #24242433;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.verde {
  background-color: #39A900;
  transition: 0.2s;
}

.btn.verde:hover{
  background-color: #287700;
  cursor: pointer;
}

.btn.rojo {
  background-color: #e74c3c;
  transition: 0.2s;
}
.btn.rojo:hover{
  background-color: #ab392d;
  cursor: pointer;
}

.btn.azul {
  background-color: #00324D;
  transition: 0.2s;
}

.btn.azul:hover{
  background-color: #00293e;
  cursor: pointer;
}

.btn.gris {
  background-color: #00324D;
  transition: 0.2s;
}

.btn.gris:hover{
  background-color: #00293e;
  cursor: pointer;
}
/* ========= RESPONSIVE ========= */
@media (max-width: 768px) {
    #header {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #links-header {
        display: none;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 250px;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu.open {
        max-height: 500px;
    }

    .menu ul {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .menu li a {
        padding: 15px 20px;
        width: 100%;
    }
}
