* {
    font-family: Ruda;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#backpage {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    background-color: #00324D;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#backImg {
    width: 20px;
    height: 20px;
}
#viewApprentice-container {
    background-color: #F2F2F2;
    margin: 2rem auto 0 auto;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 1100px;
}

.viewApprentice-title {
    font-size: 2rem;
    margin: 20px 0;
    color: #00324D;
}

.viewApprentice-selects {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}
#viewApprentice-ficha,
#viewApprentice-aprendiz {
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

.viewApprentice-inputs {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.viewApprentice-column {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.viewApprentice-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.viewApprentice-group label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00324D;
    font-size: 16px;
}

.viewApprentice-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.viewApprentice-input {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    padding-left: 10px;
}

.viewApprentice-input:focus,
#viewApprentice-aprendiz:focus,
#viewApprentice-ficha:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}


.viewApprentice-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.viewApprentice-buttons button {
    margin-top: 35px;
    font-size: 1rem;
    background-color: #00324D;
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewApprentice-buttons button:hover {
    background-color: #39A900;
}

