#generalDiv{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#infoAdmin{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 70%;
    height: 70%;
}

#infoAdmin h1{
    font-size: 55px;
    margin: 4% 0 3% 0;
}

#infoContent{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 80%;
}

.columna{
    width: 100%;
}

.form_icon{
    width: 25px;
    height: 25px;
}

.columna input, select{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    border-radius: 5px;
    padding-left: 10px;
}

.formLabel{
    gap: 1%;
    display: flex;
    align-items: center;
    text-align: center;
}

.formLabel label{
    font-size: 23px;
    font-weight: bold;
}

#Confirm_button{
    align-items: center;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 20%;
    border-radius: 10px;
    border: none;
    background-color: #39A900;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}