#generalDiv{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#infoAdmin{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    width: 70%;
    height: 85%;
    border: 3px solid black;
}

#infoAdmin h1{
    font-size: 55px;
    margin: 4% 0 3% 0;
}

#infoContent{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.form_icon{
    width: 25px;
    height: 25px;
}

#infoContent select{
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    border-radius: 5px;
    padding-left: 10px;
}

.infoObservation{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    border-radius: 5px;
    color: #5D5050;
    padding-left: 10px;
}

#observationTitle{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    border-radius: 5px;
    color: #5D5050;
    padding-left: 10px;
}

#observationDescription{
    text-align: left;
    flex-wrap: wrap;
    padding: 10px 10px 0px 15px;
    font-size: 20px;
    font-weight: bold;
    overflow-y: auto;
    font-weight: bold;
    height: 180px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    color: #5D5050;
    border-radius: 5px;
    word-break: break-word;
}

.formLabel{
    gap: 1%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
}

.formLabel label{
    font-size: 23px;
    font-weight: bold;
}

#detailLabel{
    gap: 1%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#detailLabel label{
    font-size: 23px;
    font-weight: bold;
}