*{
    font-family: Ruda;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#backpage{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    background-color: #00324D;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#backImg{
    width: 20px;
    height: 20px;
}

h1{
    margin-top: 20px;
}
#containerViewApprentice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    border: none;
    background-color: #B6B2B2;
    margin-bottom: 4%;
    border-radius: 5px;
    padding-left: 10px;
}

.selects {
    display: flex;
    gap: 30px; 
    justify-content: center; 
    margin: 20px 0;
}

.selects select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #B6B2B2;
    width: 300px;
}

#tipoDocumento {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #B6B2B2;
    width: 100%;
    margin-bottom: 10px;
    }


.form_icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.label-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label-group label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.buttonsInfo {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin: 30px 0; 
}

button{
    align-items: center;
    font-size: 15px;
    color: white;
    height: 45px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: #00324D;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-input {
    display: flex;
    gap: 30px; 
    justify-content: center;
    margin-top: 20px;
}

.columna {
    display: flex;
    flex-direction: column;
    width: 300px;
}