* {
    font-family: 'Ruda', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#backpage {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    background-color: #00324D;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#backImg {
    width: 20px;
    height: 20px;
}


#generalDiv {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: calc(100vh - 80px);
    padding: 2rem 1rem;
}

#infoAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    text-align: center;
}

#infoAdmin h1 {
    font-size: 24px;
    font-weight: bold;
    color: #00324D;
    margin-bottom: 30px;
}


#infoContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}


.formLabel label,
#detailLabel label {
    font-weight: bold;
    color: #00324D;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#selectObservation,
.infoObservation,
#observationTitle,
#observationDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #cbd5e1;
    text-align: left;
}


#selectObservation {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    max-width: 400px;
}


.infoObservation p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #374151;
    background-color: #E5E7EB;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

#observationTitle p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #1E293B;
    background-color: #E0F2FE;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}


#observationDescription {
    max-height: 300px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    line-height: 1.6;
    color: #1E293B;
}

#observationDescription p {
    text-align: center;
    white-space: pre-line;
    font-size: 15px;
    text-align: justify;
}
